nav {
    background-color: #222;
    position: fixed;
    display: flex;
    flex-wrap: unset;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
}

nav > div {
    width: 100%;
}

.top {
    height: 40px;
    margin: 5px;
}

Button {
    text-decoration: none;
    font-size: 14px;
    color: white;
    border-color: #d4d4d4 !important;
}

.menuBar {
    float: right;
    width: 458px;

}

.menuBar button {
    margin-bottom: 5px !important;
}

.subMenu {
    margin-bottom: 5px;
    margin-right: 10px;
    display: inline-block;
}
.logo {
    float: left;
    color: white;
    margin-left: 5px;
}


.searchInput {
    display: inline-block !important;
    width: 200px !important;
    margin-right: 10px;
}

.search {
    display: inline-block !important;
}

.login {
    background-color: white !important;
    color: black !important;
}