section {
    height: 100%;
    width: 100%;
}

.container {
   
}

.best {
    height: 300px;
    /* border-bottom: 1px solid #d4d4d4; */
    /* background-color: red; */
}
.title {
   height: 40px;
   /* background-color:; */
   border-bottom: 1px solid #eee;
}

.title div {
    margin-top: 10px;
}
.title div.text {
    display: inline-block;
    float: left;
  
}
.text span{
    font-size: 17px;
    font-weight: bold;
}

.more-category {
    float: right;
    display: inline-block;
}

.more-category span {
    font-size: 12px;
}


.contents {
    width: 67.4%;
    padding : 10px;
    /* float: left; */
    display: inline-block;
    /* background-color: bisque; */
}

.category {
    width: 47%;
    /* background-color: green; */
    height: 300px;
    display: inline-block;
    margin :18px;
}

.sub_container {
    width: 30%;
    padding: 10px;
    float: right;
    margin-right: 3px;
    height: 300px;
    background-color: greenyellow;
}

.visitors {
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
    background-color: red;
}

.rank {
    height: 300px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d4d4d4;
    background-color: bule;
}

.advertise {
    height: 200px;
    background-color: yellow;
}